/* loader.js */

.ui-loader {
    border: 10px solid transparent; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    /* size is declared in the component itself
    width: 80px;
    height: 80px;
    */
    animation: ui-loader-spin 2s linear infinite;
}

@keyframes ui-loader-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* error_message.js */

.error-message {
    color: #D8000C;
    background-color: #FFD2D2;
    border: 3px outset red;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
.error-message h1 {
    text-align: center;
}
.error-message h1::before, .error-message h1::after {
    content: 'âŒ';
}

/* link.js */

.classic-link {
    color: #00ADB5;
    text-decoration: none;
}
.classic-link:hover {
    text-decoration: underline;
}
.classic-link:visited {
    color: #00ADB5;
}

/* chip_card.js */

.chip-card {
    display: inline-block;
    margin: 10px;
    padding: 0 25px;
    height: 50px;
    width: auto;
    font-size: 16px;
    border-radius: 40px;
    background-color: #00FFF5;
}
.chip-card img {
    float: left;
    margin: 0 10px 0 -25px;
    padding: 2px;
    height: 44px;
    width: 44px;
    border: 1px solid #00FFF5;
    border-radius: 50%;
    background-color: black;
}
.chip-card > *:not(:first-child), .chip-card a {
    float: left;
    vertical-align: middle;
}
.chip-card a, .chip-card a:visited {
    text-decoration: none;
    color: black;
}

/* flip_card.js */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 400px;
    height: 200px;
    /*border: 1px solid #f1f1f1;*/
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #00ADB5;
    color: white;
    border-radius: 10px;
}
/* Style the back side */
.flip-card-back {
    background-color: #00ADB5;
    color: white;
    transform: rotateY(180deg);
    border-radius: 5px;
}
.flip-card-back > * {
    padding: 5px;
}
