/* loader.js */

.ui-loader {
    border: 10px solid transparent; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    /* size is declared in the component itself
    width: 80px;
    height: 80px;
    */
    animation: ui-loader-spin 2s linear infinite;
}

@keyframes ui-loader-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* error_message.js */

.error-message {
    color: #D8000C;
    background-color: #FFD2D2;
    border: 3px outset red;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
.error-message h1 {
    text-align: center;
}
.error-message h1::before, .error-message h1::after {
    content: 'âŒ';
}

/* link.js */

.classic-link {
    color: #00ADB5;
    text-decoration: none;
}
.classic-link:hover {
    text-decoration: underline;
}
.classic-link:visited {
    color: #00ADB5;
}

/* chip_card.js */

.chip-card {
    display: inline-block;
    margin: 10px;
    padding: 0 25px;
    height: 50px;
    width: auto;
    font-size: 16px;
    border-radius: 40px;
    background-color: #00FFF5;
}
.chip-card img {
    float: left;
    margin: 0 10px 0 -25px;
    padding: 2px;
    height: 44px;
    width: 44px;
    border: 1px solid #00FFF5;
    border-radius: 50%;
    background-color: black;
}
.chip-card > *:not(:first-child), .chip-card a {
    float: left;
    vertical-align: middle;
}
.chip-card a, .chip-card a:visited {
    text-decoration: none;
    color: black;
}
