:root {
    --animation-time: 20s;
    --primary-background: 0, 0, 0;
    --accent-background: 38, 0, 255;
    --primary-foreground: 200, 200, 200;
    --accent-foreground: 0, 255, 242;
    --link-color: rgb(0, 255, 255);

    background-color: rgb(var(--primary-background));
    color: rgb(var(--primary-foreground))
}

body {
    margin: 0px;
}

a, a:visited {
    color: var(--link-color);
}

h1 {
    margin: 0px;
    padding: 10px;
}

.parallax {
    position: relative;

    &::after {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        content: "";
        z-index: -1;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }
}
