.websites {
    h1 {
        text-align: center;
    }

    .website-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: stretch;
        gap: 20px;
        padding: 10px;
    
        .website {
            flex-grow: 1;
            text-align: center;
            text-decoration: none;
            color: blue;
            padding: 10px;

            &:hover {
                text-decoration: underline;
            }
    
            .fallback-image {
                width: 100px;
            }
        }
    }
}
