/* about.js */

.info-icon {
    margin: 10px;
}
.info-icon img {
    height: 30px;
}

/* creations.js */

.creation-chip {
    display: inline-block;
    margin: 10px;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    border-radius: 25px;
    background-color: #00FFF5;
}
.creation-chip a, .creation-chip a:visited {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: white;
}
.creation-chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border: 1px solid #00FFF5;
    border-radius: 50%;
    background-color: black;
}

/* python_packages.js */

.python-package-card-front {
    border-radius: 10px;
}
.python-package-card-front img {
    width: auto;
    height: 40%;
}

.python-package-card-back {
    border-radius: 5px;
}
.python-package-card-back > p:first-child {
    height: 50%;
}
.python-package-card-back a {
    margin: 10px;
    color: blue;
}
.python-package-card-back a:visited {
    color: blue;
}
