/* about.js */

.aboutme {
    background-image: url(./images/aboutme.jpg);
    /* background-image: url(https://wallpapercave.com/wp/wp6784386.jpg); */
    padding: 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/* creations.js */

.creations {
    background-image: url(./images/creations.jpg);
    text-align: center;
}

/* python_packages.js */

.python-packages {
    background-image: url(./images/python-packages.jpg);
}

.python-package-card-front {
    width: 100%;
    height: 100%;
}
.python-package-card-front img {
    height: 40%;
}

.python-package-card-back {
    width: 100%;
    height: 100%;
}
.python-package-card-back > p:first-child {
    height: 30%;
}
.python-package-card-back a {
    margin: 10px;
    color: blue;
}
.python-package-card-back a:visited {
    color: blue;
}
.python-package-card-back .local-footer {
    bottom: 20px;
}

/* gitprojects.js */

.gitprojects {
    background-image: url(./images/github-projects.jpg);
    /* background-image: url(https://opengraph.githubassets.com); */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.gitrepo-front {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

.gitrepo-back {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    color: black;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
}
.gitrepo-back > p:first-child {
    height: 48%;
}
.gitrepo-back a {
    margin: 10px;
    color: blue;
}
.gitrepo-back a:visited {
    color: blue;
}
.gitrepo-stats {
    text-align: left;
}
