/* about.js */

.aboutme {
    background-image: url(./images/aboutme.jpg);
    /* background-image: url(https://wallpapercave.com/wp/wp6784386.jpg); */
    padding: 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.chipcard-list {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

/* creations.js */

.creations {
    background-image: url(./images/creations.jpg);
    text-align: center;
}

/* python_packages.js */

.python-packages {
    background-image: url(./images/python-packages.jpg);
}

/* .python-package-card-front {
    
} */
.python-package-card-front h1 {
    position: absolute;
    top: 0px;
    width: 100%;
}
.python-package-card-front img {
    position: absolute;
    transform: translateX(-50%);
    bottom: 20px;
    height: 50%;
    border-radius: 5px;
}

/* .python-package-card-back {
    
} */
.python-package-card-back > p:first-child {
    height: 30%;
}
.python-package-card-back a {
    margin: 10px;
    color: blue;
}
.python-package-card-back a:visited {
    color: blue;
}

/* gitprojects.js */

.gitprojects {
    background-image: url(./images/github-projects.jpg);
    /* background-image: url(https://opengraph.githubassets.com); */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.gitprojects > img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.gitrepo-front {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid black;
}
.gitrepo-front h1 {
    position: absolute;
    max-width: 75%;
    text-align: left;
    top: 10px;
    left: 10px;
}
.gitrepo-front .repo-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    max-width: 100px;
    border-radius: 5px;
}
.gitrepo-front .stats {
    position: absolute;
    left: 30px;
    bottom: 10px;
}
.gitrepo-front .stats span {
    margin-left: 10px;
}
.gitrepo-front .git-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    max-width: 20px;
}

.gitrepo-back {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.gitrepo-back .description {
    position: absolute;
    top: 0px;
    width: 100%;
}
.gitrepo-back .stats {
    position: absolute;
    left: 5px;
    bottom: 25px;
    text-align: left;
}
