/* Theme Colors
 * #222831  // dark blueich gray
 * #393E46  // gray
 * #00ADB5  // cyan
 * #00FFF5  // lightblue
*/
body {
    background-color:rgb(39, 42, 45);
    color: rgb(183, 201, 215);
    margin: 10px;
    scrollbar-color: rgb(84, 87, 90) rgb(56, 58, 59);
}

code {
    background-color: darkgray;
    color: black;
    border-radius: 3px;
    padding: 0px 3px;
}
