.icon-github {
    background-image: url(https://raw.githubusercontent.com/github/explore/78df643247d429f6cc873026c0622819ad797942/topics/github/github.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 24px;
}

.icon-pypi {
    background-image: url(https://pypi.org/static/images/logo-small.95de8436.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 28px;
}

.icon-python {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/640px-Python-logo-notext.svg.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 25px;
}

.icon-web {
    background-image: url(https://cdn.icon-icons.com/icons2/1875/PNG/512/web_120072.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 22px;
}
